.header-map__item {
  display: block;
  line-height: 2em;
  border-left: 3px solid transparent;
  transition: border-color 0.15s linear;

  @nest &.active {
    border-color: #000;
    font-weight: bold;
  }
}

.header-map__item--indented {
  font-size: 0.7em;
  padding-left: 1rem;
}

.header-map__link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-left: 1em;
}
