@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');

html, body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.wrapper {

}


.content {
  
}

.error-message-container {
  background: #eee;
  padding: 1rem;
}
