.issue-content-list {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 5em;
}

.issue-content-list__item {
  margin: 0;
  padding: 0;
  display: block;
}

.issue-content-list__item-title {
  font-size: 1.5em;
  font-family: 'Playfair Display';
}
