.article-grid {
  margin: 0;
  padding: 0;
}

.article-grid__item {
  display: block;
  margin: 0;
  margin-bottom: 1em;
  box-sizing: border-box;
  position: relative;

  @media (--screen-medium) {
    lost-column: 1/3 3;
  }
}

.article-grid__content {
  padding-right: 1rem;
}

.article-grid__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  justify-content: space-between;
}

.article-grid__meta {
  font-weight: 400;
  font-size: 0.8em;
  clear: both;
  padding: 0.5em 0;
}

.article-grid__meta__title {
  font-weight: bold;
}

.article-grid__meta__date {
  opacity: 0.5;
}

.article-grid__image-container {
  position: relative;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  float: right;
}

.article-grid__image {
  display: block;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.article-grid__author:not(:last-child)::after {
  content: ', ';
}

.article-grid__authors {
  color: #999;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.article-grid__issue {
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0.5;
  margin-bottom: 1em;
}

.article-grid__title {
  font-family: 'Playfair Display';
  color: #26a69a;
}
