.article-grid {
  margin: 0;
  padding: 0;

  &__image-container {
    height: 100%;
    width: 100%;
    background-color: color(#000000 a(5%));
  }

  &__link {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
  }

  &__issue {
    font-weight: bold;
    font-size: 0.8em;
    opacity: 0.5;
    margin-bottom: 1em;
  }

  &__issue-title {
    font-weight: normal;
  }

  &__text {
    background-color: color(#000000 a(10%));
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__item {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    width: calc(25% - 1em);
    float: left;
    height: 13em;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    @nest &:hover {
      color: #fff;
      background-color: #ddd;
    }

    @nest &:active {
      color: #fff;
      background-color: #333;
    }

    &:nth-child(4n) {
      margin-right: 0;

    }
  }

  &__title {
    font-size: 0.9em;
    clear: both;
  }
}
