.article-page {
    lost-utility: clearfix;

    &__primary-content {
      lost-column: 3/4 0;
    }

    &__secondary-content {
      lost-column: 1/4 0;
    }

    &__title {
      font-family: "Playfair Display";
    }

    &__meta {
      font-size: 0.7em;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 1em 0;
    }

    &__authors {
      border: 1px solid red;
    }

    &__abstract {
      font-family: "Playfair Display";
      line-height: 1.5em;
    }
}
