.home {
  lost-utility: clearfix;

  &__top {
    clear: both;
    background-size: 100% auto;
    background-color: #000;
    color: #fff;
    padding: 5em;
  }

  &__top-content {
    lost-center: 980px;
  }

  &__primary-content {
    lost-column: 3/4 3;
  }

  &__secondary-content {
    lost-column: 1/4 0;
    margin-top: 0.7em;
  }

  &__center {
    margin: 1em 0;
    lost-center: 980px;
  }

  &__issue {
    clear: both;
  }

  &__issue-pre-title {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 1rem;
  }

  &__issue-title {
    clear: both;
    font-family: "Playfair Display";
    border-bottom: 1px solid #000;
    margin-top: 0;
  }

  &__issues-title {
    font-family: "Playfair Display";
    border-bottom: 1px solid #000;
  }

  &__issues {
    margin: 0;
    padding: 0;
    display: block;

    &__issue {
      display: block;
      clear: both;
    }

    &__meta {
      display: block;
      font-weight: bold;
      font-size: 0.5em;
      line-height: 1em;
    }

    &__title {
      color: #26a69a;
    }

    &__image-container {
      display: block;
      height: 3em;
      width: 3em;
      overflow: hidden;
      border: 1px solid #ccc;
      float: left;
      margin-right: 0.5em;
    }

    &__image {
      height: 100%;
      object-fit: cover;
    }

    & li {
      margin: 0;
      padding: 0.5em 0;
      display: block;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}
