<ul class="issue-content-article-list">
  {{#each articles}}
    <li class="issue-content-article-list__item">
      <a class="issue-content-article-list__link" href="/article/{{_id}}">
        {{title}}
      </a>
    </li>
  {{/each}}
</ul>
