<ul class="issue-content-article-list">
  {{#each articles}}
    <li class="issue-content-article-list-item">
      <a class="issue-content-article-list-item-link" href="{{_id}}">
        {{title}}
      </a>
    </li>
  {{/each}}
</ul>
