<ul class='issue-content-list'>
  {{#each issue.content}}
    <li class='issue-content-list__item'>
      <h3 class="issue-content-list__item-title">{{title}}</h3>
      {{> issues/articleList}}
    </li>
  {{/each}}
</ul>
