<ul class='issue-list'>
  {{#each issues}}
    <li class='issue-list-item'>
      <a href='/issues/{{_id}}/' class='issue-list-item-link'>
        <div class='issue-list-item-container'>
          <div class='issue-list-item-image-container'>
            <img class='issue-list-item-image' src='{{coverImage.asset.url}}' />
          </div>
          <div class='issue-list-item-title-container'>
            <h3>{{fullIssueTitle .}}</h3>
          </div>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
