<h1 class="article-page__title">{{{article.title}}}</h1>
<p class="article-page__abstract">
  {{{article.abstract}}}
</p>
<p class="article-page__meta">
  Created {{{dateTime article._createdAt}}} Updated: {{{dateTime article._updatedAt}}}
</p>
