<div class="issue-page">

  {{#if issue.coverImage}}
    <div class="issue-page__image-container">
      <img class='issue-page__image' src='{{issue.coverImage.asset.url}}' />
    </div>
  {{/if}}

  <div class="layout__center">


    <h2 class="issue-page__title">{{issue.title}}</h2>


    {{> issues/contentList}}
  </div>

</div>
