body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}


/* Header */
.header {
  width: 100%;
  background: #333;
  padding: 0;
  margin: 0;
}
.header-title {
  padding: 1rem;
  margin: 0;
  color: white;
}

/* Navigation */

.navigation {
  background: #999;
}
.navigation-menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-menu-item {
  list-style: none;
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #aaa;
  border-right: 1px solid #777;
  text-align: center;
  cursor: pointer;
}

.navigation-menu-item:last-child {
  border-right: none;
}

.navigation-menu-item:hover {
  background-color: #999;
}

.navigation-menu-item a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 0 1rem;
}

.error-message-container {
  background: #eee;
  padding: 1rem;
}
