<nav class="naviation">
  <ul class="navigation-menu">
    <li class="navigation-menu-item" onClick="App.handleMenuClick(this)">
      <a href="/">Home</a>
    </li>
    <li class="navigation-menu-item" onClick="App.handleMenuClick(this)">
      <a href="/issues">Issues</a>
    </li>
  </ul>
</nav>
