<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{{htmlTitle}}}</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/issues.css">
  </head>
  <body>
    <div class="wrapper">
      {{>header}}
      <div class="content">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
